@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Indie+Flor & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@font-face {
    font-family: 'Menu';
    src: url('fonts/Play-Bold.ttf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Titulo';
    src: url('fonts/Questrial-Regular.ttf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Textos';
    src: url('fonts/Play-Regular.ttf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Paragrafo';
    src: url(fonts/IndieFlower-Regular.ttf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'subtitulos';
    src: url(fonts/DancingScript-VariableFont_wght.ttf) format('opentype');
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
}
:root {
    --cor01: #c80201;
    --cor02: #039930;

    --font-menu: 'Menu', 'cursive';
    --font-Textos: 'Textos', 'cursive';
    --font-paragrafo: 'Paragrafo', 'cursive';
    --font-subtitulos: 'subtitulos', 'cursive';
}

html {
    width: 96vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    width: 96vw;
    background: rgb(11,11,11);
    background: linear-gradient(108deg, rgba(11,11,11,1) 0%, rgba(26,112,14,1) 45%, rgba(222,23,23,1) 100%);
    background-color: black;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    width: 96vw;
    height: 7vh;
    background: linear-gradient(108deg, rgba(11,11,11,1) 0%, rgba(26,112,14,1) 45%, rgba(222,23,23,1) 100%);
}

.logo {
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    font-size: 14px;
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover::before {
    width: 100%;
}

main {
    width: 100vw;
}

.container {
    width: 100vh;
    display: flex;
}

.container-a {
    display: flex;
    align-items: center;
    
}

.container-a img {
    width: 400px;
    margin-right: 15px;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.24);
    border-radius: 60px;
}

.container-a p {
    padding-top: 10px;
    margin-bottom: 300px;
    text-align: center;
    width: 530px;
    height: 400px;
    font-weight: 500;
    font-size: 25px;
    font-family: var(--font-paragrafo);
}

span {
    color: black;
    font-size: 60px;
    font-family: var(--font-menu);
}

.container-b {
    width: 100vw;
    margin-left: 200px;
    margin-top: 20px;
}

.container-b p {
    font-size: 27px;
    font-family: var(--font-subtitulos);
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    cursor: pointer;
}

.container-b img {
    width: 100px;
}

footer {
    width: 100vw;
    text-align: center;
    background-color: #039930b0;
}

footer a {
    color: #ffff;
    font-weight: 700;
    text-decoration: none;
}


@media (max-width: 450px) {
    #header {
        position: relative;
        max-width: 94.3vw;
        padding-left: 4px;
    }

    body {
        max-width: 96vw;
    }

    #main {
        max-width: 96vw;
    }

    #nav {
        max-width: 94.3vw;
        font-size: 12px;
        margin-left: 5px;
    }

    .menu-content .list-itens {
        max-width: 91vw;
    }

    #container1 {
        flex-direction: column;
        max-width: 97vw;
        padding-top: 15px;
    }

    #container1 img {
        max-width: 87%;
        margin-bottom: 20px;
    }

    span {
        width: 70vw;
        height: auto;
        margin-top: 20px;
        font-size: 2.9em;
    }

    #texto {
        flex-direction: column;
        text-align: center;
        max-width: 95vw;
    }
    

    #texto p {
        position: relative;
        max-width: 330px;
        padding-top: 40px;
        font-size: 1.7em;
    }

    #container2 {
        flex-direction: column;
        width: 40vw;
        margin-left: 100px;
        margin-bottom: 200px;
    }

    #container2 img {
        flex-direction: column;
        width: 20em;
        margin-right: 300px;
    }

    #rodape {
        max-width: 95.4vw;
    }

    #rodape p {
        width: 95vw;
        text-align: center;
    }
}